/**{
    outline: 1px solid rgb(229, 221, 255);
}*/
.contact{
    background-color: #111;
    margin-top: 32px;
}

.contact_group{
    display: flex;
    justify-content: space-between;
}

.contact_left{    
    background-image: url("../img/btm_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.contact_right{
    padding: 80px 16px 80px 48px;
    background-color: #111;
    width: 50%;
}

.contact_right h2{
    color: white;
}

.contact_right h3{
    margin-top: 16px;
    color: white;
}
.contact_info{
    border-left: white 4px solid;
    margin-top: 48px;
    padding-left: 16px;
}
.contact_right p{
    color: white;
    font-size: 16px;
    line-height: 1.5;
}

.tel{
    margin-top: 16px;
}

.contact_box{
    display: flex;
    margin-top: 32px;
}
.contact_btn{
    padding: 8px 72px;
    border: 1px solid white;
    font-size: 24px;
    color: white;
}
.contact_btn:hover{
    border: 1px solid #e0c689;
    background-color: #e0c689;
    color: #111;
    transition: 0.5s;
}

@media (max-width: 768px) {
    .contact_group{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact_left{
        width: 100%;
        height: 300px;
    }   

    .contact_right{
        width: 100%;
        padding: 40px 16px;
    }
    .contact_btn{
        padding: 12px 96px;
        font-size: 20px;
    }       
}
@media (max-width: 576px) {
    .contact_info{
        border-left: white 0px solid;
    }
    .contact_right{
        text-align: center;
    }
    .contact_btn{
        margin: 0 auto;
    }
}

@media (max-width: 376px) {

    .contact_btn{
        width: 100%;
    }
}

/*---------------------------------------*/
footer {
    padding: 56px 0;
    text-align: center;
    color: #e0c689;
    font-size: 18px;
    background-color: #111;
}