.gotop{
    position: fixed;
    right: 8%;
    bottom: 15%;
    z-index: 5;
    /*cursor: pointer;*/
    opacity: 0.0; /*gotop預設透明度0,下滑超過200才變1出現*/
}
.gotop a{
    color: #222;
    font-size: 22px;
    font-weight: 700;
    padding: 13px 10px;
    background-color: #e0c689;
}
.gotop a:hover{
    background-color: #222;
    color: white;
    transition: all 0.5s;
}


@media (max-width: 992px){

    .gotop{
        right: 16px;
    }

}