/** {
    outline: 0.1px solid rgb(233, 233, 233);
}*/

.vh100 {
    height: calc(100vh - 96px);
}

.mv-custom {
    display: flex;
    align-items: center;
}

/*-----------------------------------*/

.whyus {
    display: flex;
    justify-content: center;
    text-align: center;
}

.whyus_group p {
    font-size: 24px;
    font-weight: 300;
    color: #333;
    margin: 56px 0;
    text-align: left;
    text-align: justify;
}

.findout_box {
    display: flex;
    justify-content: center;
}

.findout {
    padding: 8px 72px;
    border: 1px solid #222;
    font-size: 24px;
    color: #222;
}

.findout:hover {

    color: #e0c689;
    background-color: #222;
    transition: 0.5s;
}

@media (max-width: 768px) {
    .whyus_group p {
        font-size: 20px;
        margin: 40px 0;
    }

    .findout {
        padding: 12px 96px;
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .whyus {
        flex-direction: column;
    }

    .whyus_group {
        width: 100%;
    }
}

@media (max-width: 376px) {

    .findout {
        width: 100%;
    }
}

/*-----------------------------------*/

.ourproduct h2 {
    text-align: center;
    color: #333;
}

.product_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 56px;
}

.product_item {
    width: 31.25%;
}

.product_item h3 {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 56px;
}

.product_img:hover{
    -webkit-filter: grayscale(90%); /* Safari */
    filter: grayscale(90%);
    transition: all 0.9s;
}
@media (max-width: 992px) {
    .product_group {
        justify-content: space-between;
        text-align: center;
    }

    .product_item {
        width: 49%;
    }
}

@media (max-width: 576px) {

    .product_group {
        flex-direction: column;
        align-items: center;
    }

    .product_item {
        width: 100%;
        text-align: center;
    }

}

/*-----------------------------------*/

.commitment h2 {
    text-align: center;
    color: #222;
}

.commitment img {
    -webkit-filter: grayscale(100%);
    /* Safari */
    filter: grayscale(100%);
}

.commitment_group {
    display: flex;
    margin-top: 56px;
    justify-content: center;
}

.commitment_item {
    width: 17.11%;
    margin: 0 16px;
}

@media (max-width: 576px) {

    .commitment_group {
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .commitment_item {
        width: 42.27%;
        margin: 0px;
        text-align: center;
    }

}

@media (max-width: 414px) {
    .commitment_item {
        width: 100%;
    }

}
