/**{
    outline: 0.1px solid rgb(218, 93, 93);
}*/

/*.shop_item{
    margin-top: 48px;
}*/
.shop_group h2 {
    margin-bottom: 56px;
}

.img_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16px;
}

.img_item {
    text-align: center;
    width: 31.25%;
    margin-bottom: 56px;
}

.img_item h4 {
    margin-top: 16px;
}

.img_item h5 {
    margin-top: 8px;
}

.op100 {
    opacity: 0%;
}


@media (max-width: 992px) {
    .img_group {
        justify-content: space-between;
    }

    .img_item {
        /*width: 43.75%;*/
        width: 49%;
    }

    .shop_item h3{
        text-align: center;
        font-weight: 500;
        margin-bottom: 32px;
        padding-bottom: 16px;
        border-bottom: 3px solid #e0c68d;
    }

    .op100 {
        display: none;
    }
}


@media (max-width: 576px) {
    .img_item {
        width: 100%;
    }
}